@import './styles/vars'
@import 'nib'

.game-container
  background-color $game-background
  display block
  padding 10px
  h1
    font-size 2em
    font-weight 100
    margin-top 20px
    text-align center

.options-container
  display flex
  flex-wrap wrap

.start
  width 100%

.player-container
  width 50%

.AI-options
  width 50%

.pink-neon
  neon-glow(#ff00de)
