@import './styles/vars'
@import 'nib'

.game-container
  background-color $game-background
  display block
  padding 10px
  h1
    font-size 2em
    font-weight 100
    margin-top 20px
    text-align center

.options-container
  display flex
  flex-wrap wrap
  h1
    width 100%

.start
  width 100%

.player-container
  width 50%
  text-align center
  h1
    margin-bottom 15px
    width 100%
  .player-number
    padding 3px 20px
    font-size 1.7em

.AI-options
  width 50%
  text-align center
  h1
    margin-bottom 7px
  .AI-difficulty
    margin-right 10px
  .AI-first
    margin-top 7px


.pink-neon
  neon-glow(#ff00de)
.start-neon
  neon-glow(#68ff3a)
