@font-face {
  font-family: Clip;
  src: url("styles/fonts/Clip.ttf");
  font-weight: 400;
}
article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
}
html,
body,
#root {
  min-height: 100%;
  font-family: Clip;
}
#root {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #000;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}
@font-face {
  font-family: Clip;
  src: url("styles/fonts/Clip.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Clip;
  src: url("styles/fonts/Clip.ttf");
  font-weight: 400;
}
.game-container {
  background-color: #808080;
  display: block;
  padding: 10px;
}
.game-container h1 {
  font-size: 2em;
  font-weight: 100;
  margin-top: 20px;
  text-align: center;
}
.options-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.options-container h1 {
  margin-bottom: 15px;
  width: 100%;
}
.start {
  width: 100%;
}
.player-container {
  width: 50%;
  text-align: center;
}
.player-container h1 {
  margin-bottom: 15px;
  width: 100%;
}
.player-container .player-number {
  padding: 3px 20px;
  font-size: 1.7em;
}
.AI-options {
  width: 50%;
}
.pink-neon {
  border: none;
  color: #fff;
  text-decoration: normal;
  -o-text-overflow: clip;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 40px #fff, 0 0 5px #ff00de, 0 0 10px #ff00de, 0 0 20px #ff00de, 0 0 30px #ff00de;
}
.tile {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #808080;
  color: #fff;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  font-size: 3em;
  height: 100px;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  vertical-align: bottom;
  width: 100px;
}
.row {
  display: block;
  margin: 0 auto;
  width: 300px;
}
.row >:nth-child(2),
.row :first-child {
  border-right: solid #000 1px;
}
.row-container {
  display: block;
  margin: 0 auto;
}
.row-container >:nth-child(-n+2) >:nth-child(-n+3) {
  border-bottom: solid #000 1px;
}
.O-neon {
  border: none;
  color: #fff;
  text-decoration: normal;
  -o-text-overflow: clip;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 40px #fff, 0 0 5px #00f, 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f;
}
.X-neon {
  border: none;
  color: #fff;
  text-decoration: normal;
  -o-text-overflow: clip;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 40px #fff, 0 0 5px #ffa500, 0 0 10px #ffa500, 0 0 20px #ffa500, 0 0 30px #ffa500;
}
