.tile {
  align-items: center;
  background: #da70d6;
  color: #fff;
  display: inline-flex;
  font-size: 18px;
  height: 100px;
  justify-content: center;
  vertical-align: bottom;
  width: 100px;
}
.row {
  display: block;
}
.row >:nth-child(2),
.row :first-child {
  border-right: solid #000 1px;
}
.row-container >:nth-child(-n+2) >:nth-child(-n+3) {
  border-bottom: solid #000 1px;
}
.tile {
  align-items: center;
  background: #da70d6;
  color: #fff;
  display: inline-flex;
  font-size: 18px;
  height: 100px;
  justify-content: center;
  vertical-align: bottom;
  width: 100px;
}
.row {
  display: block;
}
.row >:nth-child(2),
.row :first-child {
  border-right: solid #000 1px;
}
.row-container >:nth-child(-n+2) >:nth-child(-n+3) {
  border-bottom: solid #000 1px;
}
